<br/>
<div class="basic-grey"> 

  <script>
    $.notify("<%= notice %>","success")
  </script>

  <h1><%= "#{t('messages.listing')} #{@kinds.model.model_name.human(count: @kinds.count)}" %></h1>

  <table>
    <thead class="container">
      <div class="row">
        <h6 class="col-12"> &nbsp;<%= t("description") %> </h6>
        <h6 colspan="1"></h6>
      </div>
    </thead>

    <tbody class="container">
      <% @kinds.each do |kind| %>
        <div class="row">
          <tr style="background: <%= cycle("white", '#f0f0f5')%>">
            <td class="col"><%= kind.description %></td>
            <td class="col"><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
            <td class="col"><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Kind', new_kind_path %>
  <%= link_to t('buttons.back'), root_path %>
</div>