<br/>
<div class="basic-grey">	
	<h1>Seja bem-vindo!</h1>

	<ul>
		<li>
			<%= icon("list-ul", class: "bi") + " - " %> <%# método definido em application_helper %>
			<%= link_to "Tipos", kinds_path %>
		</li>
		<li>
			<%= icon("telephone", class: "bi") + " - "  %>
			<%= link_to "Contatos", contacts_path %>
		</li>
		
	</ul>
</div>