<br/>

<%= form_with(model: contact, local: true, html: { class:"basic-grey"}) do |form| %>
  
  <h1> <%= t("contact") %> </h1>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= collection_select(:contact, :kind_id, @kind_options_for_select, :id, :description) %>
  </div>

  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street, class: "label-edit" %>
      <%= address_fields.text_field :street %>
    </div>

    <div class="field">
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>
    </div>
      
    <div class="field">
      <%= address_fields.label :state %>
      <%= address_fields.select :state, options_for_states(@contact.address.state)%>
    </div>  
  <% end %>

  <div id="phones">
    <%= form.fields_for :phones do |phones_fields| %>
      <%= render partial: "phone_fields", locals: { f: phones_fields } %>
    <% end %>

    <div class="field">

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- io_adjust -->

      <%= link_to_add_association(icon('plus-square', class: 'bi bi-edit') + ' [Adicionar Telefone]', form , :phones, class: "txt-decoretion-edit") %>
    </div>
  </div>
  <br>


  <div class="field">
    <%= form.label :rmk %>
    <%= form.text_area :rmk %>
  </div>

  <div class="field">
    <%= form.label " " %>
    <%= form.submit "#{t'buttons.send'}", class: "btn btn-primary"%>
    <%= link_to "#{t'buttons.back'}", contacts_path, class: "btn btn-danger" %>

  </div>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2>
          <%= t'global.forms.messages.errors', count: contact.errors.count%>
      </h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<% end %>
