<br/>
<div class="basic-grey">  

  <script>
    $.notify("<%= notice %>","success")
  </script>
  
  <h1><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}" %></h1>

  
    <div class="container">
      <div class="row">
        <h6 class="col-4"><%= t("name") %></h6>
        <h6 class="col-4" style="text-align: center;"><%= t("kind") %></h6>
        <h6 colspan="2"></h6>
      </div>
    </div>

    <div class="container">
      <% @contacts.each do |contact| %>
        <div class="row" style="background: <%= cycle("white", '#f0f0f5')%>">
          <div class="col-4"><%= contact.name %></div>
          <div class="col-4" style="text-align: center;"><%= contact.kind.description %></div>
          <div class="col-4" style="text-align: center;">
            <%= link_to t('buttons.edit'), edit_contact_path(contact), class: "badge bg-secondary btn-io-edit"%> &nbsp;
            <%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') }, class: "badge bg-secondary btn-io-edit" %>
          </div>
        </div>
      <% end %>
    </div>

  <div style= "padding-top: 5px;">
    <%= paginate @contacts, window: 2 %>
  </div>
  <br>

  <%= link_to t('buttons.new'), new_contact_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.back'), root_path, class: "btn btn-danger" %>

</div>
